<button class="btn btn-primary">Agregar Jugador</button>
<input type="text" class="form-control mt-2">
<div class="players">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Decks</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>Jahir Alexander Celorio Malavé</td>
                <td>
                    <li>
                        Batteryman - 50 Cartas
                    </li>
                </td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger ms-2">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
